.items {
  padding: 2em;
}
#row-item {
  align-items: center;
  justify-content: center;
}
#row-item div {
  align-items: center;
  justify-content: center;
}

.col {
  margin: 4px 4px;
  /* border-radius: ; */
}
input {
  text-align: right;
  font-weight: bold;
  font-size: 1.5em;
  caret-color: red;
}

#nav-item {
  align-items: center;
  justify-content: center;
}
#nav-item.row div {
  align-items: center;
  justify-content: center;
}
.hoverFeature,
.hoverFeature.fa-solid {
  background-color: #212529;
  color: white;
}
.hoverFeature:hover {
  background-color: black;
  color: white;
}
